.header {
  height: 150px;
  padding: 1rem 2rem;
  background-color: #c3cfda;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left {
  gap: 1rem;
}

.logo {
  width: 100px;
  height: 100px;
}

.header-text {
  color: #2c88d9;
}

.button {
  font-size: 20px;
  background-color: #2C88D9;
  color: white;
}

.button:hover {
  background-color: #007DDB;
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
    max-height: 350px;
    height: auto;
    gap: 20px
  }

  .header-left {
    flex-direction: column;
    text-align: center;
  }
}
