<section class="container-fluid h-100">
  <div class="row position-relative h-100">
    <!-- Company List -->
    <section class="col-md-6 overflow-auto left-panel">
      <div class="d-flex flex-column gap-3">
        <div
          *ngFor="let company of companies"
          class="company-card d-flex justify-content-between align-items-center p-3"
          [class.selected]="selectedCompany?.id === company.id"
        >
          <app-company-card
            [company]="company"
            (onSelectCompany)="selectCompany($event)"
            class="w-100"
          ></app-company-card>
        </div>
      </div>
    </section>

    <!-- Divider  -->
    <div
      class="col-md-1 divider-with-arrow d-none d-md-flex flex-column align-items-center justify-content-center"
    >
      <div class="vertical-line top-line"></div>
      <div class="arrow-icon"></div>
      <div class="vertical-line bottom-line"></div>
    </div>

    <!-- Company Details -->
    <aside class="col-md-5 right-panel">
      <app-company-detail
        *ngIf="selectedCompany"
        [company]="selectedCompany"
      ></app-company-detail>

      <div class="empty-state" *ngIf="!selectedCompany">
        <div class="empty-icon">
          <i class="bi bi-arrow-left"></i>
        </div>
        <p class="empty-text m-0">Selecione uma empresa para ver os detalhes</p>
      </div>
    </aside>
  </div>
</section>
