<ng-template [ngIf]="!formGroup">
  <div class="form-container">
    <label>{{ label }}</label>
    <input
      [placeholder]="placeholder"
      [type]="type"
      class="form-control"
      [class.is-invalid]="isInvalid"
    />
    <div class="invalid-feedback">{{ errorMessage }}</div>
  </div>
</ng-template>

<ng-template [ngIf]="formGroup && control">
  <div [formGroup]="formGroup" class="form-container">
    <label>{{ label }}</label>
    <input
      [placeholder]="placeholder"
      [type]="type"
      [formControl]="control"
      class="form-control"
      [class.is-invalid]="isInvalid"
    />
    <div class="invalid-feedback">{{ errorMessage }}</div>
  </div>
</ng-template>
