input.ng-touched.ng-invalid{
  border: 1px solid #dc3545;
}

.form-container {
  margin-bottom: 10px;
}

.form-control{
  border: 2px solid #c3cfda;
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid #2C88D9;
}

.invalid-feedback {
  color: #dc3545;
  font-size: 0.875em;
}