<header
  class="container-fluid header p-5 d-flex justify-content-between align-items-center"
>
  <div class="header-left d-flex align-items-center">
    <a href="javscript:" [routerLink]="['/pedidos']">
      <img src="/assets/logo-rm-bg.png" alt="Logo" class="logo" />
    </a>
    <p class="header-text h2 mb-0">{{cardTitle}}</p>
  </div>
  <button *ngIf="showButton" (click)="addRequest()" class="btn button d-flex align-items-center gap-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="22"
      height="22"
      fill="currentColor"
      class="bi bi-plus-circle-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"
      />
    </svg>
    Solicitar Abertura
  </button>
</header>
