.form-title {
  color: #788896;
  font-weight: bold;
}

.form-control{
  border: 2px solid #c3cfda;
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid #2C88D9;
}

input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid {
  border: 1px solid #dc3545;
}

.invalid-feedback {
  color: #dc3545;
  font-size: 0.875em;
}

/* Divider */
.divider {
  position: relative;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

.vertical-line {
  width: 2px;
  height: 100%;
  margin-bottom: 15px;
  background-color: #007bff;
}

@media (max-width: 768px) {
  .left-panel,
  .right-panel {
    height: 50%;
  }

  .left-panel {
    border-bottom: 3px solid #007bff;
    margin-bottom: 20px;
    padding-bottom: 0px;
  }

  .right-panel {
    padding-top: 30px;
  }
}