<form
  [formGroup]="empresasService.form"
  (ngSubmit)="onSubmit()"
  class="container"
>
  <div class="row">
    <!-- Left Column -->
    <div class="col-md-5 left-panel">
      <h5 class="mb-4 form-title">Dados do solicitante</h5>

      <app-input
        label="Responsável pela empresa*"
        [formGroup]="applicantControls"
        [control]="applicantControls.controls.ds_responsavel"
        [isInvalid]="
          getFormControl('solicitante.ds_responsavel')?.invalid &&
          getFormControl('solicitante.ds_responsavel')?.touched
        "
        errorMessage="Campo obrigatório."
      ></app-input>

      <app-input
        label="CPF*"
        placeholder="000.000.000-00"
        mask="000.000.000-00"
        [formGroup]="applicantControls"
        [control]="applicantControls.controls.nu_cpf"
        [isInvalid]="
          getFormControl('solicitante.nu_cpf')?.invalid &&
          getFormControl('solicitante.nu_cpf')?.touched
        "
        errorMessage="{{
          getFormControl('solicitante.nu_cpf')?.hasError('pattern')
            ? 'Formato inválido (000.000.000-00).'
            : 'Campo obrigatório.'
        }}"
      ></app-input>

      <app-input
        label="Data nascimento*"
        type="date"
        [formGroup]="applicantControls"
        [control]="applicantControls.controls.date_nascimento"
        [isInvalid]="
          getFormControl('solicitante.date_nascimento')?.invalid &&
          getFormControl('solicitante.date_nascimento')?.touched
        "
        errorMessage="Campo obrigatório."
      ></app-input>

      <h5 class="mb-3 mt-4 form-title">Dados da empresa</h5>

      <app-input
        label="Nome fantasia*"
        [formGroup]="companyControls"
        [control]="companyControls.controls.ds_nome_fantasia"
        [isInvalid]="
          getFormControl('empresa.ds_nome_fantasia')?.invalid &&
          getFormControl('empresa.ds_nome_fantasia')?.touched
        "
        errorMessage="Campo obrigatório."
      ></app-input>

      <div [formGroup]="companyControls" class="mb-3">
        <label>Escolha sua entidade de registro*</label>
        <div *ngFor="let entity of registrationEntitiesList" class="form-check">
          <input
            type="radio"
            class="form-check-input"
            [value]="entity.key"
            formControlName="co_entidade_registro"
            [id]="entity.id"
          />
          <label class="form-check-label" [for]="entity.id">
            {{ entity.value }}
          </label>
        </div>
        <div
          class="invalid-feedback d-block"
          *ngIf="
            getFormControl('empresa.co_entidade_registro')?.invalid &&
            getFormControl('empresa.co_entidade_registro')?.touched
          "
        >
          Selecione uma opção.
        </div>
      </div>
    </div>

    <!-- Divider -->
    <div
      *ngIf="showDivider"
      class="col-md-1 d-none d-md-flex align-items-center justify-content-center"
    >
      <div class="vertical-line"></div>
    </div>

    <!-- Right column -->
    <div class="col-md-6 d-flex flex-column">
      <h5 class="mb-4 form-title">Endereço da empresa</h5>

      <div [formGroup]="addressControls">
        <app-input
          label="CEP*"
          placeholder="000000-000"
          mask="00000-000"
          [formGroup]="addressControls"
          [control]="addressControls.controls.co_cep"
          [isInvalid]="
            getFormControl('empresa.endereco.co_cep')?.invalid &&
            getFormControl('empresa.endereco.co_cep')?.touched
          "
          errorMessage="{{
            getFormControl('empresa.endereco.co_cep')?.hasError('pattern')
              ? 'Formato inválido (000000-00)'
              : 'Campo obrigatório.'
          }}"
        ></app-input>

        <app-input
          label="Endereço*"
          [formGroup]="addressControls"
          [control]="addressControls.controls.ds_logradouro"
          [isInvalid]="
            getFormControl('empresa.endereco.ds_logradouro')?.invalid &&
            getFormControl('empresa.endereco.ds_logradouro')?.touched
          "
          errorMessage="Campo obrigatório."
        ></app-input>

        <app-input
          label="Número*"
          [formGroup]="addressControls"
          [control]="addressControls.controls.co_numero"
          [isInvalid]="
            getFormControl('empresa.endereco.co_numero')?.invalid &&
            getFormControl('empresa.endereco.co_numero')?.touched
          "
          errorMessage="Campo obrigatório."
        ></app-input>

        <app-input
          label="Bairro*"
          [formGroup]="addressControls"
          [control]="addressControls.controls.ds_bairro"
          [isInvalid]="
            getFormControl('empresa.endereco.ds_bairro')?.invalid &&
            getFormControl('empresa.endereco.ds_bairro')?.touched
          "
          errorMessage="Campo obrigatório."
        ></app-input>

        <app-input
          label="Complemento"
          [formGroup]="addressControls"
          [control]="addressControls.controls.ds_complemento"
          [isInvalid]="false"
        ></app-input>

        <app-input
          label="Cidade*"
          [formGroup]="addressControls"
          [control]="addressControls.controls.ds_municipio"
          [isInvalid]="
            getFormControl('empresa.endereco.ds_municipio')?.invalid &&
            getFormControl('empresa.endereco.ds_municipio')?.touched
          "
          errorMessage="Campo obrigatório."
        ></app-input>

        <div [formGroup]="addressControls" class="mb-3">
          <label>Estado*</label>
          <select
            [formControl]="addressControls.controls.co_uf"
            class="form-control"
            [class.is-invalid]="
              getFormControl('empresa.endereco.co_uf')?.invalid &&
              getFormControl('empresa.endereco.co_uf')?.touched
            "
          >
            <option value="" disabled selected>Selecione</option>
            <option *ngFor="let uf of ufList" [value]="uf">
              {{ uf }}
            </option>
          </select>
          <div class="invalid-feedback">Campo obrigatório.</div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mb-4 align-self-end">
        <i class="bi bi-send-fill me-1"></i> Enviar
      </button>
    </div>
  </div>
</form>
